/**
* Makes the header a navigation pane.
*/

/* Bootstrap Overrides */
.navbar-toggler {
    outline: 0 !important;
    border: none;
    padding-left: 0;
    padding-right: 0;
}

/* Header Navigation Styles */
.header-nav-desktop {
    display: none;
}

.header-nav-mobile-pane {
    left: -100%;
    top: 0;
    position: fixed;

    width: 90%;
    height: 100%;
}

.header-nav-mobile-pane .navbar-nav {
    overflow-y: auto;
    height: 100%;
}

.header-nav-mobile-pane .navbar-nav .dropdown-menu {
    position: relative;
    background: transparent;
    border: none;
    padding: 0;
    margin: 0;
}
.header-nav-mobile-pane .navbar-nav .dropdown-menu .dropdown-item {
    color: rgba(255,255,255,.5);
}

.header-nav-mobile-pane .navbar-nav .dropdown-menu .dropdown-item,
.header-nav-mobile-pane .navbar-nav .dropdown-menu .dropdown-item:hover {
    border-bottom: 1px solid #444444;
    margin-left: 1.5rem;
    padding-left: 0;
    height: 41px;
    background: transparent;
}
.header-nav-mobile-pane .navbar-nav .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.header-nav-mobile-pane .navbar-nav .dropdown-menu .dropdown-item:hover {
    color: rgba(255,255,255,.75);
}
.header-nav-mobile-pane .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #fff;
}

.header-nav-mobile-pane,
.header-nav-mobile-pane-cancel {
    -webkit-transition: left .1s ease-in-out;
    -o-transition: left .1s ease-in-out;
    transition: left .1s ease-in-out;
    z-index: 10;
}
.header-nav-mobile-pane.active {
    left: 0;
    box-shadow: 10px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.header-nav-mobile-pane-cancel {
    display: none;
    left: 0;
}

.header-nav-mobile-pane-cancel.active {
    display: initial;
    position: fixed;
    top: 0;
    left: 90%;
    width: 10%;
    height: 100%;
    background: transparent;
    outline: none !important;
    border: none;
}

.header-nav-desktop-pane {
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
    margin-bottom: 0;
}

.content {
    margin-top: 75px;
    padding-bottom: 15px;
}

.header-nav-mobile-pane .navbar-nav .nav-item {
    width: 100%;
    border-bottom: 1px solid #444444;
    min-height: 41px;
}
.header-nav-mobile-pane .navbar-nav .nav-item:last-child {
    border-bottom: none;
}

@media (min-width: 768px) {
    .content {
        margin-top: 0;
        padding-bottom: 0;
    }

    .header-nav-desktop-pane {
        position: relative;
        margin-bottom: 25px;
    }

    .header-nav-desktop {
        display: initial;
    }

    .header-nav-mobile {
        display: none;
    }

    .header-nav-mobile-pane-cancel {
        display: none;
    }
}